<div>
    <h2>Adicionar Nova Tarefa</h2>

    <form (ngSubmit)="submitTask()" [formGroup]="formTask">
        <div>
            <label for="title">Titulo</label>
            <input id="title" type="text" name="title" formControlName="title" required>
            <div class="validacao" *ngIf="formTask.get('title')?.invalid">
                <h1>Campo em branco</h1>
            </div>
        </div>
        <div>
            <label for="description">Descrição</label>
            <input id="description" type="text" name="description" formControlName="description" required>
            <div class="validacao" *ngIf="formTask.get('description')?.invalid">
                <h1>Campo em branco</h1>
            </div>
        </div>
        <div>
            <label for="date">Data de Vencimento</label>
            <input id="date" type="date" name="date" formControlName="date" required>
            <div class="validacao" *ngIf="formTask.get('date')?.invalid">
                <h1>Campo em branco</h1>
            </div>
        </div>
        <div>
            <label for="status">Status</label>
            <select name="status" id="status" formControlName="status" required>
                <option value="null" disabled selected>Selecione uma opção válida</option>
                <option value="Backlog">Backlog</option>
                <option value="Andamento">Andamento</option>
                <option value="Concluido">Concluido</option>
            </select>
            <div class="validacao" *ngIf="formTask.get('status')?.invalid">
                <h1>Campo em branco</h1>
            </div>
        </div>

        <button type="button" class="btn btn-secondary" (click)="addTag()">
            Adicionar Tag
        </button>


        <div class="form-group" formArrayName="tags">
            <div *ngFor="let tag of tags.controls; let i = index">
                <label for="tags">Nome da Tag:</label>

                <input id="tags" type="text" [formControlName]="i" />
            </div>
        </div><br>
        <button (click)="apagarTag()">Apagar tags</button><br>
        <button id="btn-addTask" type="submit">Adicionar Tarefas</button>

    </form>
</div>