div {
    text-align: center;
    margin: 20px auto;
    width: 900px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table, td {
    border: 1px solid #ccc;
  }
  
  tr:first-child {
    font-weight: bold;
    background-color: #3498db;
  }
  
  tr, td {
    padding: 10px;
    text-align: center;
  }
  
  /* Estilizar as linhas ímpares para uma melhor legibilidade */
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  